<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.danipraivet.tcgbrawl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TCG Brawl"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <!-- LOGIN es la Activity de inicio (LAUNCHER) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal (se abre tras login exitoso) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>